*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Roboto', sans-serif;
  /* background: url(/img/formside-unsplash.jpg); */
  line-height: 1.8;
}
.container{
  margin: auto;
  max-width: 1100px;
  overflow: auto;
  padding: 0 20px;
  }
.reg-form{
  background: white;
  padding: 10px 20px;

}
.reg-form .form-group{
  margin-top: 10px;
}
.btn{
  display: block;
  background: blueviolet;
  width: 100%;
  color: beige;
  padding: 5px;
  margin-top: 10px;
  cursor: pointer;
  

}
.btn:hover{
  background: coral;
}